
body {
    background: hsl(37, 100%, 83%);
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid hwb(0 0% 100%);
    padding: 8px;
    text-align: left;
}

th {
    background: hsl(95, 79%, 48%);
}